:root {
  --clr-primary-purple: hsl(259, 100%, 65%);
  --clr-primary-red: hsl(0, 100%, 67%);

  --clr-neutral-white: hsl(0, 0%, 100%);
  --clr-neutral-offWhite: hsl(0, 0%, 100%);
  --clr-neutral-lightGrey: hsl(0, 0%, 86%);
  --clr-neutral-smokeyGrey: hsl(0, 1%, 44%);
  --clr-neutral-OffBlack: hsl(0, 0%, 8%);

  --fs-vBig: 3rem;
  --fs-big: 2rem;
  --fs-small: 1rem;
}

.clr-purple {
  color: var(--clr-primary-purple);
}

.clr-red {
  color: var(--clr-primary-red);
}

.clr-black {
  color: var(--clr-neutral-OffBlack);
}

.clr-grey {
  color: var(--clr-neutral-smokeyGrey);
}

.fs-big {
  font-size: var(--fs-big);
}
.fs-vBig {
  font-size: var(--fs-vBig);
}
.fs-small {
  font-size: var(--fs-small);
}

.fw-bold {
  font-weight: 700;
}

.fw-italicBold {
  font-weight: 800;
  font-style: italic;
}

.fw-light {
  font-weight: 400;
  font-style: italic;
}

.flex {
  display: flex;
}
form {
  gap: 1rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

input[type="number"] {
  /*make input of type number without an arrow */
  /* For firefox : */
  appearance: textfield;

  width: 10rem;
  padding: 1rem;
  margin-block: 0.5rem;
  border-radius: 10px;
  border: 1px solid var(--clr-neutral-lightGrey);
}
/* For chrome, Safari, Edge, Opera : */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (max-width: 43.125em) {
  input[type="number"] {
    width: 8rem;
    font-size: 1rem;
  }
}
@media (max-width: 36.875em) {
  input[type="number"] {
    width: 5rem;
  }
}

label {
  display: block;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--clr-neutral-lightGrey);
}

.main {
  background-color: var(--clr-neutral-offWhite);
  max-width: 50rem;
  border-radius: 20px 20px 200px 20px;
  margin: 4rem auto;
  padding: 3rem;

  flex-direction: column;
  align-items: flex-start;
}

@media (max-width: 60em) {
  .main {
    margin-inline: 3rem;
  }
}
@media (max-width: 32.5em) {
  .main {
    margin-inline: 1rem;
    padding: 1rem;
  }
}

.icon {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex: auto;
}

button {
  background: none;
  border: none;
}

.icon img {
  background-color: var(--clr-primary-purple);
  cursor: pointer;
  padding: 1rem;
  border-radius: 50%;
}

.icon img:hover {
  background-color: var(--clr-neutral-OffBlack);
}

/* Change the button position to center on small screen sizes */
@media (max-width: 50.625em) {
  .icon {
    position: relative;
    margin-block: 3rem;
  }

  button {
    position: absolute;
  }
}

.line {
  display: block;
  width: 100%;
  border: 1px solid var(--clr-neutral-lightGrey);
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
